*.log
**/coc-go-data
**/node_modules**
**/cache
.android
.AndroidStudio*
.cache
.cargo
.cfg
.config/Slack
.config/Cypress
.config/google-chrome
.config/Lens
.cpanm
.gem
.gnupg
.krew
.kube
.launchpadlib
.local
.mozilla
.neomutt
.npm
.rustup
.rvm
.sdkman
.tmux
.twilio-cli
.vim
.yarn
.zinit
ACLI
Android
Downloads
Music
configstore
forks
go
projects
reference
snap
tmp
