*.log
**/coc-go-data
**/node_modules**
**/cache
.android
.AndroidStudio*
.cache
.cargo
.cfg
.config/pulse/**/*.tdb
.config/Slack
.config/Cypress
.config/google-chrome
.config/Lens
.config/chrome
.cpanm
.gem
.gnupg
.krew
.kube
.launchpadlib
.local
.mozilla
.neomutt
.npm
.rustup
.rvm
.sdkman
.thunderbird
.tmux
.twilio-cli
.vim
.yarn
.zinit
.zsh_history
.histdb/*
.wakatime.data
.wakatime.db
ACLI
Android
Downloads
Music
configstore
forks
go
projects
reference
snap
tmp
.java
.config/VirtualBox
.node-gyp/
.themes/
Pictures/
